<div class="message-banner--container" data-message-banner>
  <div class="message-banner--outer">
    <div class="message-banner--inner" data-message-banner-content></div>
    <button
      class="message-banner--close"
      type="button"
      aria-label="{{ 'general.accessibility.close' | t }}"
      data-message-banner-close
    >
      {%- include 'icon-menu-close' -%}
    </button>
  </div>
</div>