<div class="modal" data-modal-container>
  <div class="modal-inner" data-modal-inner>
    <button
      class="modal-close"
      type="button"
      aria-label="{{ 'general.accessibility.close' | t }}"
      data-modal-close
    >
      {% include 'icon-menu-close' %}
    </button>
    <div class="modal-content" data-modal-content></div>
  </div>
</div>