{% assign tag_limit = filter_limit | times: 1 %}
{% if collection.all_tags.size > 0 and filter_style != 'none' %}
  {% include 'advanced-tag-loop' %}
  <div class="productgrid--sidebar-section" data-productgrid-filters-content>
    <h2 class="productgrid--sidebar-title">
      {{ 'product_grid.filters.title_count' | t: count: 0 }}
    </h2>
    {% if current_tags.size > 0 %}
      <div class="productgrid--sidebar-item productgrid--sidebar-filters--current">
        {%- include 'product-grid-tags-active' -%}
      </div>
    {% endif %}
    {% if filter_style == 'groups' %}
      {%
        include 'product-grid-tag-groups',
        tag_limit: tag_limit
      %}
    {% endif %}
    {% if filter_style == 'tags' %}
      {%
        include 'product-grid-tags',
        tag_limit: tag_limit
      %}
    {% endif %}
  </div>
{% endif %}