<div id="looxCarousel" data-show-more="{{section.settings.show_more}}"></div>
{% schema %}
{
	"name": "Reviews - Carousel",
	"class": "index-section",
	"settings": [{
		"id": "show_more",
		"type": "checkbox",
		"label": "Display \"Show more\" button",
		"default": true
	}],
	"presets": [{
		"name": "Reviews - Carousel",
		"category": "Loox"
	}]
}
{% endschema %}