<!--BeginCFFSaveAndShareAdditionalContentButton-->{% capture content_for_additional_checkout_buttons %}
{{content_for_additional_checkout_buttons}}
<div style="display:none" id="cffAdditionalContentButtonPlacementContainer"></div>
{% endcapture %}<!--EndCFFSaveAndShareAdditionalContentButton-->{% section 'static-cart' %}